* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
html {
	width: 100%;
	height: 100%;
}
body {
	width: 100%;
	height: 100%;
	min-width: 1340px;
	font-size: 14px;
	font-family: "Microsoft Yahei","微软雅黑",sans-serif;
}
a {
	text-decoration: none;
	color: #000;
	outline: none;
}
ul, li {
	list-style: none;
}
img {
	border: 0;
}
/* 清浮动 */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	zoom: 1;
}


/* header */
header {
	width: 100%;
	height: 70px;
	min-width: 1340px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 111;
	background-color: rgba(255,255,255,0.7);
	-moz-box-shadow:0px 2px 5px #333333;
	-webkit-box-shadow:0px 2px 5px #333333;
	box-shadow:0px 2px 5px #333333;
}
header .logo {
	display: inline-block;
	height: 70px;
	padding: 15px 0px;
	margin-left: 6em;
}
header .logo:active {
	color: #000;
}
.logo p, .logo img {
	float: left;
}
.logo p {
	color: rgba(0,0,0,0.6);
	font-size: 1.428em;
	line-height: 40px;
	margin-left: 5px;
}

/* nav */
nav {
	float: right;
	margin-right: 7em;
}
nav ul li {
	float: left;
	font-size: 1.5em;
	margin-left: 1.667em;
	height: 30px;
	margin-top: 20px;
}
nav ul li a {
	color: rgba(0,0,0,0.5);
	display: inline-block;
}
nav ul li a:hover {
	color: rgba(0,0,0,1);
}
nav ul li.person-box {
	margin-top: 15px;
	width: 150px;
	height: 80px;
}
nav ul li.person-box a {
	background-color: #0099ff;
	color: #fff;
	padding: 6px;
}
.so {
	display: none;
	margin-top: 0.6em;
}
nav ul li ul#sign-out li {
	font-size: 1em;
	margin: 2px 0px 0px 0px;
	padding: 0;
}

/* prompt-box */
.prompt-box {
	width: 350px;
	font-size: 1.4em;
	height: 80px;
	line-height: 80px;
	background-color: #f69743;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	position: fixed;
	top: -80px;
	left: 50%;
	margin-left: -175px;
	z-index: 999;
	transition: top 0.1s;
}

/* 打印列表 */
.container {
	width: 100%;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	background-color: rgba(255,255,255,0.7);
	padding: 100px 0px;
	margin: 20px 0px 200px 0px;
}
.internal-box {
	height: 650px;
	width: 80%;
	margin: 0 auto;
	background-color: #c0e5ff;
	position: relative;
}
.title {
	position: absolute;
	width: 50px;
	text-align: center;
	font: normal 500 32px/40px "Microsoft Yahei", sans-serif;
	top: 0;
	left: -49px;
	padding: 10px 0px;
	background-color: #c0e5ff;
	color: #0198ff;
}
.top, .scroll-box {
	margin-left: 25px;
}
.top {
	padding-top: 12px;
	color: #016597;
	margin-bottom: 10px;
}
.top div {
	width: 98.5%;
}
.top span {
	display: inline-block;
	border-bottom: 5px solid #fff;
	padding: 0px 0px 2px 0px;
	letter-spacing: 2px;
	font-size: 1.2em;
	text-align: center;
}
.total {
	color: #016597;
	text-align: right;
	font-size: 30px;
	padding-right: 40px;
	line-height: 50px;
}
.topay {
	background-color: #fff;
	height: 2.857em;
	margin: 0px 20px;
	padding: 5px;
	position: relative;
}
.topay span {
	display: inline-block;
	margin-left: 10px;
	border-left: 10px solid #32659a;
	font-size: 1.428em;
	padding-left: 4px;
	color: #32659a;
	height: 100%;
}
.topay input, .topay select {
	font-family: "Microsoft Yahei", sans-serif;
}
.topay select option {
	font-size: 1em;
}
.topay .delivery {
	border-width: 0;
	font-size: 1.3em;
	margin-left: 0px;
	line-height: 100%;
}
.delivery input {
	width: 1.2em;
	height: 1.2em;
	vertical-align: middle;
	border-color: #32659a;
}
.door {
	display: inline-block;
}
.door select, .door input {
	height: 30px;
	font-size: 1.1em;
	border: 1px solid #32659a;
	color: #32659a;
}
.door input {
	text-indent: 3px;
}
.room {
	width: 4.520em;
}
.phone, .receiver {
	width: 8.071em;
}
.pay {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	background-color: #0099ff;
	color: #fff;
	font-size: 1.4em;
	border: 1px solid #0099ff;
	cursor: pointer;
	width: 100px;
	letter-spacing: 2px;
}
#print-store {
	border: 1px solid #32659a;
	width: 250px;
	height: 30px;
	margin-left: 30px;
	font-size: 1.1em;
	color: #32659a;
	display: none;
}


.scroll-box {
	height: 470px;
	width: 100%;
}
.scroll-box div {
	height: 45px;
	width: 98.5%;
}
.scroll-box div:hover {
	background-color: rgba(255,255,255,0.4);
}
.scroll-box .add {
	text-align: center;
	height: 40px;
	background-color: rgba(255,255,255,0.4);
	margin-top: 10px;
}
.scroll-box .add a {
	font-size: 1.2em;
	line-height: 40px;
	color: #336799;
}
.scroll-box span {
	display: inline-block;
	height: 45px;
	vertical-align: middle;
	line-height: 45px !important;
	text-align: center;
	font-size: 1.1em;
	color: #336799;
}
.scroll-box select, .scroll-box select option, .scroll-box input {
	width: 95%;
	height: 25px;
	font-size: 1em;
	border: 1px solid #336799;
	color: #336799;
	text-align: center;
	background-color: #c0e5ff;
}
.scroll-box .row-12 {
	cursor: pointer;
	color: #983434;
}
.scroll-box .row-2 {
	white-space: nowrap;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	overflow: hidden;
	padding-left: 40px;
	line-height: 100%;
	cursor: pointer;
}
.word {
	background: url(../images/spite.png) no-repeat;
	background-position: 0 -435px;
}
.ppt {
	background: url(../images/spite.png) no-repeat;
	background-position: 3px -290px;
}
.pdf {
	background: url(../images/spite.png) no-repeat;
	background-position: 0 -245px;
}
.row-1 {
	width: 5%;
}
.row-2 {
	width: 20%;
}
.row-3 {
	width: 4%;
}
.row-4 {
	width: 8%;
}
.row-5 {
	width: 6%;
}
.row-6 {
	width: 12%;
}
.row-7 {
	width: 5%;
}
.row-8 {
	width: 5%;
}
.row-9 {
	width: 5%;
}
.row-10 {
	width: 5%;
}
.row-11 {
	width: 9%;
}
.row-12 {
	width: 9%;
}


/* footer */
footer {
	width: 100%;
	position: relative;
	margin-top: -180px;
	min-height: 180px;
	background-color: #333;
	background-image: url(../images/bg-logo.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 18% 100%;
}
.footbox {
	float: left;
	width: 16%;
	padding-top: 10px;
}
footer div:first-child {
	margin-left: 20%;
}
.footbox p {
	text-align: center;
	line-height: 2em;
}
footer a {
	color: #999;
	font-size: 1.1em;
}
.footbox p:first-child a {
	color: #fff;
	font-size: 1.2em;
}
footer a:hover {
	text-decoration: underline;
}
footer .ewm {
	float: left;
	width: 16%;
	height: 100%;
	padding-top: 1.3em;
	padding-left: 1.3em;
}
.ewm img {
	width: 55%;
}
.copyright {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	margin-left: -9.9em;
	color: #ccc;
	line-height: 25px;
	font-size: 0.9em;
}



@media screen and (min-width: 1500px) {
	body {
		font-size: 17px;
	}
	.top div {
		width: 99%;
	}
	.scroll-box div {
		width: 99%;
	}
	.pay {
		width: 120px;
	}
}
@media screen and (min-width: 2000px) {
	body {
		font-size: 19px;
	}
	.top div {
		width: 99.6%;
	}
	.scroll-box div {
		width: 99.6%;
	}
	.pay {
		width: 140px;
	}
}