* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: "Helvetica Neue", Helvetica, STHeiTi, "Microsoft YaHei", sans-serif;
}
a, img {
    -webkit-touch-callout: none; /* 禁止长按链接与图片弹出菜单 */
}
html, body {
    width: 100%;
    height: 100%;
    -webkit-user-select: none;   /* 禁止选中文本 */
    user-select: none;
}
html {
	font-size: 62.5%;
}
a {
	text-decoration: none;
}
input {
	border-width: 0px;
	outline: none;
}
button {
	border-width: 0px;
}
img {
	border: none;
}

/* 清浮动 */
.clearfix:after {
	content: "";
	display: block;
	clear: both;
	zoom: 1;
}


/* header */
header {
	width: 100%;
	background-color: #ebebeb;
	padding-top: 1rem;
	color: #3991a0;
	min-height: 3rem;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
header span {
	display: block;
	float: left;
	font-size: 0.7rem;
	text-align: center;
	line-height: 1.3rem;
}
header span:nth-child(6) {
	color: #3991a0;
	width: 10%;
}
header span:nth-child(1) {
	width: 26%;
	text-align: left;
	text-indent: 3px;
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.5rem;
}
header span:nth-child(2), header span:nth-child(3), header span:nth-child(4), header span:nth-child(5) {
	width: 16%;
}


/* main */
.main {
	position: absolute;
	top: 3rem;
	bottom: 5.5rem;
	left: 0;
	width: 100%;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}
.content {
	width: 100%;
}
.file-set-box {
	width: 100%;
	border: 1px solid #e4e4e4;
	margin: 1px 0px;
	padding-bottom: 1rem;
	position: relative;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.check-box, .file-info, .choose-box, .copies-box {
	float: left;
}
.check-box, .copies-box {
	width: 10%;
}
.file-info {
	width: 26%;
	margin-top: 0.5rem;
}
.file-info p {
	color: #56a0ad;
	font-size: 0.7rem;
	line-height: 1.2rem;
	height: 2.4rem;
	padding-left: 25px;
	background: url(../../images/mobile/file.png) no-repeat left center;
	background-size: 22px 25px;
	overflow : hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}
.file-info span {
	color: #6bc8f1;
	font-size: 0.7rem;
}
.choose-box {
	width: 16%;
	margin-top: 1rem;
	position: relative;
}
.choose-box .jt {
	width: 32%;
	height: 1.3rem;
	position: absolute;
	right: 5%;
	top: 1px;
	z-index: -1;
	background-color: #6bc8f1;
}
.jt img {
	width: 95%;
}
.choose-box a {
	color: #56a0ad;
	display: block;
}
.choose-default {
	width: 95%;
	line-height: 1.3rem;
	text-indent: 1px;
	font-size: 0.95rem;
	border: 1px solid #e4e4e4;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.select-box {
	position: absolute;
	width: 63%;
	top: 1.3rem;
	left: 0;
	font-size: 0.9rem;
	text-align: center;
	border: 1px solid #e4e4e4;
	background-color: #fff;
	z-index: 555;
	display: none;
}
.select-box a:hover {
	background-color: #e4e4e4;
	color: #56a0ad;
}
.copies-box {
	margin-top: 1rem;
}
.copies {
	width: 90%;
	border: 1px solid #e4e4e4;
	text-align: center;
	height: 1.2rem;
}
.check-box {
	text-align: center;
}
.check {
	width: 1.1rem;
	height: 1.1rem;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #6bc8f1;
	margin-top: 1.6rem;
}
.check-click {
	background: url(../../images/mobile/check.png) no-repeat center;
	background-size: 0.8rem;
}
.price {
	position: absolute;
	bottom: 0.3rem;
	right: 0.2rem;
	color: #56a0ad;
	font-size: 1rem;
}
.del {
	color: #fff;
	background-color: #ea0000;
	padding: 3px 4px;
	margin: 0 5px;
	border-radius: 4px;
}
.del:active {
	color: #fff;
}

/* cancel */
.cover {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #d1e5e9;
	opacity: 0.7;
	z-index: 222;
	display: none;
}
.cancel-box {
	width: 80%;
	position: absolute;
	top: 40%;
	left: 10%;
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 5px;
	padding-bottom: 10px;
	display: none;
	z-index: 999;
}
.cancel-box p:first-child {
	text-align: center;
	font-size: 1.1rem;
	line-height: 2.4rem;
	border-radius: 5px 5px 0 0;
	border-bottom: 1px solid #e5e5e5;
	margin-bottom: 20px;
	position: relative;
}
.cancel-box .hide-cancel-box {
	position: absolute;
	width: 1.6rem;
	height: 1.6rem;
	top: 0.4rem;
	right: 0.4rem;
	text-align: center;
	line-height: 1.6rem;
	color: #000;
	background-color: #fff;
}
.text {
	margin-left: 20px;
	font-size: 1.1rem;
	line-height: 2rem;
	padding-bottom: 20px;
}
.cancel-box div {
	width: 50%;
	float: left;
	text-align: center;
}
.cancel-box a {
	display: inline-block;
	width: 80%;
	font-size: 1rem;
	background-color: #0099ff;
	line-height: 2.6rem;
	color: #fff;
	border-radius: 3px;
}


/* form */
.form-box {
	position: fixed;
	left: 0;
	bottom: 3rem;
	height: 2.5rem;
}
.form-box .select, .form-box .to-pay {
	float: left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.select {
	width: 60%;
	position: relative;
	border: 1px solid #d2d2d2;
}
.default {
	float: left;
	width: 82%;
	line-height: 2.5rem;
	color: #56a0ad;
	text-indent: 3px;
	font-size: 1.1rem;
	font-weight: 600;
}
.select .option-box {
	position: absolute;
	width: 82%;
	left: -1px;
	bottom: 2.5rem;
	z-index: 555;
	border: 1px solid #b5b5b5;
	display: none;
	background-color: #fff;
}
.option {
	display: block;
	width: 100%;
	color: #56a0ad;
	font-size: 1.05rem;
	line-height: 2rem;
	text-indent: 3px;
	font-weight: 600;
}
.option:active {
	color: #56a0ad;
	background-color: #d6d6d6;
	border-width: 0;
}
.option:hover {
	color: #56a0ad;
	background-color: #d6d6d6;
}
.icon {
	width: 18%;
	float: left;
	height: 2.5rem;
	text-align: center;
	background: #6bc8f1;
}
.icon img {
	width: 80%;
	margin-top: 0.7rem;
}
.to-pay {
	width: 40%;
	font-size: 1.1rem;
	line-height: 2.5rem;
	font-weight: 600;
	text-align: center;
	background-color: #56a0ad;
	color: #fff;
}

/* prompt-box */
.prompt-box {
	width: 80%;
	font-size: 1.2rem;
	height: 5rem;
	line-height: 5rem;
	background-color: #f69743;
	color: #fff;
	text-align: center;
	letter-spacing: 1px;
	position: fixed;
	top: 3.5rem;
	left: 10%;
	z-index: 999;
	display: none;
}

/* menu */
.menu {
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 111;
}
.menu div {
	float: left;
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}
.library, .person, .print-car {
	line-height: 3rem;
	height: 3rem;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 1.1rem;
	border-top: 1px solid #fff;
}
.library, .person {
	width: 39%;
	text-indent: 20%;
}
.person, .library {
	color: #fff;
}
.library {
	background: #6bc8f1 url(../../images/mobile/library-n.png) no-repeat 20% center;
	background-size: 22%;
}
.print-car {
	width: 22%;
	background: #eee url(../../images/mobile/shop-car.png) no-repeat center;
	background-size: 55%;
	border-left: 1px solid #fff;
	border-right: 1px solid #fff;
}
.person {
	background: #6bc8f1 url(../../images/mobile/person-n.png) no-repeat;
	background-size: 15%;
	background-position: 20% center;
}


@media screen and (min-width: 320px) {
    html {font-size: 14px;}
}
@media screen and (min-width: 360px) {
    html {font-size: 16px;}
}
@media screen and (min-width: 400px) {
    html {font-size: 18px;}
}
@media screen and (min-width: 440px) {
    html {font-size: 20px;}
}
@media screen and (min-width: 480px) {
    html {font-size: 22px;}
}
@media screen and (min-width: 640px) {
    html {font-size: 28px;}
}